/*
Photos by Tim Savage,Bruce Mars,Dellon Thomas,Pixabay from Pexels

*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body,
html {
  -webkit-font-smoothing: antialiased;
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: "Poppins", sans-serif;
}
p {
  font-family: "Roboto", sans-serif;
}
.page-wrapper {
  overflow: hidden;
}
/* Header Styles */

.main-header {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 0;
  left: 0;
  top: 0;
  width: 100%;
  padding: 15px;
  height: 100px;
}
.navbar {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar-brand img {
  width: 150px;
}

.nav-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
}
.nav-item {
  margin: 0 10px;
}
.nav-link {
  padding: 15px 25px;
  text-decoration: none;
  color: #444;
}

/* Logo Styles */

.brand-link {
  display: inline-block;
  width: 250px;
  margin-right: 15px;
}
.brand-link img {
  width: 100%;
}

/* Main Components */

input:-webkit-autofill {
  box-shadow: 0 0 0 30px white inset;
  -webkit-box-shadow: 0 0 0 30px white inset;
}
a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent; /* For some Androids */
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

.button {
  display: inline-block;
  padding: 15px 25px;
  text-decoration: none;
  background: blue;
  color: white;
  border-radius: 3px;
}
.button.fluid {
  display: block;
  text-align: center;
}
.button.bordered {
  background: transparent;
  border: 1px solid blue;
  color: #ffffff;
}

.section {
  padding: 50px 15px;
}
.section.large {
  position: relative;
  min-height: 750px;
}

.section.blob {
  min-height: 100vh;
  background-image: url(/images/splash3.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.section-header {
  text-align: center;
  margin-bottom: 20px;
}
.section-header h2 {
  font-size: 46px;
  letter-spacing: 1.6px;
  color: #444;
}
.section-header p {
  font-size: 24px;
  color: rgb(122, 118, 118);
  max-width: 750px;
  margin: 0 auto;
}
.section-card {
  position: relative;
  width: 30%;
  padding: 25px;
  box-shadow: 0 2px 50px -10px rgba(0, 0, 0, 0.2),
    0 6px 10px -10px rgba(0, 0, 0, 0.1);
  margin: 10px;
  background: #ffffff;
  border-radius: 3px;
}
.section-card p {
  margin-bottom: 15px;
}
.section-card__header {
  font-size: 1.4em;
  margin-bottom: 15px;
  font-weight: 500;
}
.section-card img {
  width: 100%;
  margin-bottom: 15px;
  border-radius: 3px;
  filter: grayscale(40%);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}
.section-card i {
  margin-left: 50px;
}

#card-wrapper {
  margin-top: 50px;
}

.flex-row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

#learn-more {
  background-image: linear-gradient(
    #fff 0%,
    rgba(219, 251, 255, 0.99) 50%,
    #fff 100%
  );
}

/* Hero Section */

.cover {
  height: 850px;
  background-image: url(/images/splash.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.hero {
  padding: 50px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-content {
  position: relative;
  max-width: 650px;
  min-width: 515px;
  margin-right: 20px;
}
.hero-header {
  font-size: 3.5rem;
  font-weight: 500;
  line-height: 64px;
  margin-bottom: 20px;
  color: #ffffff;
}
.hero-text {
  font-size: 24px;
  color: #e6e6e6;
}
.typer {
  color: #e6e6e6 !important;
}
.hero-card {
  position: relative;
  width: 100%;
  max-width: 450px;
  top: 120px;
  background-position: center;
  background-size: cover;
  border-radius: 5px;
  background: #444;
  box-shadow: 0 20px 40px -10px rgba(0, 0, 0, 0.2);
}

.hero-card-list h3 {
  color: #ffffff;
  font-weight: 300;
  padding: 0 40px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.services-list {
  list-style: none;
  padding: 10px 40px;
  margin: 0;
}
.services-item {
  margin: 5px 0;
}
.services-item i {
  margin-right: 5px;
  color: #7df1b1;
}
.services-link {
  text-decoration: none;
  padding: 5px 0;
  color: #ffffff;
  font-weight: 500;
  transition: color 0.25s ease-in-out;
}
.services-link:hover {
  color: rgb(51, 80, 100);
}
#hero-testimonial-wrapper {
  position: absolute;
  left: -50px;
  bottom: -250px;
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg width='100' height='100' viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 18c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm48 25c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm-43-7c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm63 31c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM34 90c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm56-76c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM12 86c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm28-65c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm23-11c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-6 60c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm29 22c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zM32 63c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm57-13c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-9-21c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM60 91c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM35 41c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM12 60c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2z' fill='%230396ac' fill-opacity='0.07' fill-rule='evenodd'/%3E%3C/svg%3E");
  z-index: 0;
  width: 100%;
  max-width: 450px;
  border-radius: 3px;
  box-shadow: 0px 6px 30px -15px rgba(0, 0, 0, 0.226);
  overflow: hidden;
  opacity: 0;
  transition: all 0.5s ease 2s;
  transform: translateY(-10px);
}
.hero-testimonial-header {
  display: inline;
  margin-bottom: 10px;
}
.hero-testimonial-header:after {
  content: "-";
  margin-left: 5px;
  font-size: 12px;
}
.hero-testimonial-text:before {
  content: '"';
  margin-right: 1px;
  font-size: 18px;
}
.hero-testimonial-text:after {
  content: '"';
  margin-left: 1px;
  font-size: 18px;
}
.hero-testimonial-card {
  padding: 25px;
}
.hero-testimonial-inner {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.hero-testimonial-content {
  margin-left: 15px;
  width: 100%;
}
.hero-testimonial-content span {
  display: inline;
  margin-left: 5px;
  font-size: 0.8em;
  color: rgb(131, 128, 128);
}
.hero-testimonial-image,
.hero-testimonial-image img {
  display: inline-block;
  border-radius: 50%;
  border: 1px solid #ececec;
}
