* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body,html { 
    -webkit-font-smoothing: antialiased; 
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}
h1,
h2,
h3,
h4,
h5 {
    font-family: 'Poppins', sans-serif; 
}
p {
    font-family: 'Roboto', sans-serif;
}
.page-wrapper {
    overflow: hidden;
}
/* Header Styles */

.main-header {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 0;
    left: 0;
    top: 0;
    width: 100%;
    padding: 15px;
    height: 100px;
}
.navbar {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar-brand img {
    width: 150px;
}

.nav-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
}
.nav-item {
    margin: 0 10px;
}
.nav-link {
    padding: 15px 25px;
    text-decoration: none;
    color: #444;
}

/* Logo Styles */

.brand-link {
    display: inline-block;
    width: 250px;
    margin-right: 15px;
}
.brand-link img {
    width: 100%;
}


/* Main Components */

input:-webkit-autofill {
    box-shadow: 0 0 0 30px white inset;
    -webkit-box-shadow: 0 0 0 30px white inset;
}
a {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent; /* For some Androids */
  }

  .container {
      width: 100%;
      max-width: 1440px;
      margin: 0 auto;
  }

.button {
    display: inline-block;
    padding: 15px 25px;
    text-decoration: none;
    background: blue;
    color: white;
    border-radius: 3px;
}
.button.fluid {
    display: block;
    text-align: center;
}
.button.bordered {
    background: transparent;
    border: 1px solid blue;
    color: #ffffff;
}

.section {
    padding: 50px 15px;
}
.section.large {
    min-height: 750px;
}
.section.blob {
    min-height: 100vh;
    background-image: url(/images/splash3.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.section-header {
    text-align: center;
    margin-bottom: 20px;
}
.section-header h2 {
    font-size: 46px;
    letter-spacing: 1.6px;
}
.section-header p {
    font-size: 24px;
}
.section-card {
    width: 30%;
    padding: 25px;
    box-shadow: 0 20px 40px -10px rgba(0,0,0,.2);
    margin: 10px;
}
.section-card p {
    margin-bottom: 15px;
}
.section-card__header {
    font-size: 1.4em;
    margin-bottom: 15px;
}
.section-card img {
    width: 100%;
    margin-bottom: 15px;
    border-radius: 3px;
}
.flex-row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

/* Hero Section */

.cover {
    height: 850px;
    background-image: url(/images/splash.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.hero {
    padding: 50px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero-content {
    max-width: 650px;
}
.hero-header {
    font-size: 3.5rem;
    font-weight: 500;
    line-height: 64px;
    margin-bottom: 20px;
    color: #ffffff;
}
.hero-text {
    font-size: 24px;
    color: #e6e6e6;
}
.typer {
    color: #e6e6e6 !important;
}
.hero-card {
    position: relative;
    width: 100%;
    max-width: 450px;
    top: 30px;
    padding: 40px;
    background-color: #67A7D2;
    background-position: center;
    background-size: cover;
    border-radius: 5px;
    box-shadow: 0 20px 40px -10px rgba(0,0,0,.2);
}
.hero-card-list h3 {
    color: #ffffff;
}

.services-list {
    list-style: none;
    padding: 10px 0;
    margin: 0;
}
.services-item {
    margin: 5px 0;
}
.services-item i {
    margin-right: 5px;
    color: #ffffff;
}
.services-link {
    text-decoration: none;
    padding: 5px 0;
    color: #e6e6e6;
    transition: color .25s ease-in-out;
}
.services-link:hover {
    color: rgb(51, 80, 100);
}